@use "../../styles/global" as g;

.visualization-generation {
  &__title {
    color: #1e3a8a;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include g.vp-767 {
      font-size: 28px;
      line-height: 130%;
    }
  }

  &__text {
    color: #1e3a8a;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: center;

    @include g.vp-767 {
      font-size: 20px;
    }
  }

  &__description {
    color: #1e3a8a;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__description-text {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin: 0 200px 20px 200px;
    text-align: center;

    @include g.vp-1023 {
      margin: 0 0 20px 0;
      font-size: 16px;
    }
  }

  &__architecture {
    border-bottom: 1px solid #1e3a8a;
  }
}
