
$ff-main: "Montserrat", "Arial", sans-serif !default;

$color-white: #ffffff;
$color-black: #000000;
$color-very-light-gray: #cacaca;
$color-sapphire: #0d215b;
$color-cerulean-blue: #1d4ed8;
$color-resolution-blue: #1e3a8a;
$color-cornflower-blue: #60a5fa;

$vp-tablet: 1023px;
$vp-mobile: 767px;

$bp-xs: 480px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1280px;
